.para {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border-color: black;
}

.para h1{
  text-align: center;
}

.para p {
  font-size: 18px;
  line-height: 28px;
}