
body {
    background-color:#FCF5ED;
    font: normal 300 18px "Roboto", sans-serif;

}
#menu-bar {
    max-width: 1000px;
    margin: 10px auto;
    background-color: #010101;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#navigation-bar ul {
    border-radius: 40px;
    
}
#navigation-bar li {
    float: left;
    width: 20%;
}
#navigation-bar li:hover a::before {
    right: 0;
    left: 0;
}
#navigation-bar a {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar a:hover {
    color: #030210;
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #030210;
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
  }
   
  li {
      list-style: none;
  }

#navbar{
    font-size: medium;

}

/* drop button */

.dropbtn {
    /* background-color:#000000  ; */
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FCF5ED ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 46px;
    text-decoration: line-through;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color:} */
  
.remaining{
    width: 100px;
    display: inline-flex;
}
.navbar{
    display: inline-flex;
    font-size: medium;
    pointer-events: none;



}
.tapicon{
    margin-left: 120px;
}

#full_stack{
    display: inline;
    width: min-content;
}
.mid{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.design{
    border: #000000 solid none;
    padding: 7px 7px ;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.down{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.downf{
    border: #000000 solid none;
    padding: 7px 7px ;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
footer{
    background-color: #d4cbcb00;


}
.footer2{
    display: flex;
    flex-direction: row;
    gap: 60px;
    place-content: center;
}

.inner-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}

.text-deco {
    text-decoration: none;
}